body{
    background-color:#bcff21;
    animation:colorchange infinite;
    animation-duration: 20s ;
    animation-direction: alternate ;
    }
    
@keyframes colorchange{
    from{background-color:#bcff21;}
    50%{background-color:#bcfffc;}
    to{background-color:#d3afff;}
    }
    
    /*below code is for div1*/
#div1{
    display:flex;
    /*flex-wrap:wrap;*/
    justify-content:center;
    }
#name{
    margin-left:0.1%;
    margin-top:auto;
    font-size:50px;
    font-family: 'Merriweather', serif;

    }
#myPic{
    height:100px;
    width:100px; 
    margin:2.5%;
    border-radius:50%;
    border:double 8.5px ;
    background:linear-gradient(white, transparent,white);
    }
    /*end of div1*/
    
    
    
    /*div2 begins here*/
#div2{
    width:40%;
    margin:auto;
    border:solid 1px black;
    /*border-radius:100px;*/
    /*width:90%;
    height:25px;*/
    display:flex;
    }
    
.div2div{
    border:black 0px solid;
    margin:auto;
    text-align:center;
    width:33%;
    cursor: pointer;
    
}
    /*end of div2*/

/*div3 begins here*/
#div3{
    border:0px solid transparent;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.div3div{
    border:1px solid black;
    width:50%;
    padding:2%;
    font-family: 'Merriweather', serif;

}

#contact1{
    text-align: center;
    font-size:30px;
    text-shadow:2px 2px grey;
}

/*reinhardt*/
.reinhart_pic{
    zoom:8%;
    border:black 1px solid;
    border-radius: 25%;
}

.div3div{
    display:none;
}


/*end of div3*/




/*div4 begins here*/
#div4{
    border:1px solid black;
    height:40%;
    width:40%;
    text-align:center;
    margin:auto;
    
}
/*end of div4*/


/*div2div* begins here maybe again dob't know lol*/
.div2div{
    /*background:white;*/
    
}

/*div2div ends*/

/*divd3div*/
.div3div{
    /*background:white;*/
    /*opacity: 0.1;*/
    
    /*idea    !!!!!!!!!!! \v/
                           v
    make a div in div3div and set 
    its z index under. 
    then set opacity and bg color*/
}

#scriptEd:hover{
    animation-name: notRedected;
    animation-duration: 0.5s;
    background-color: transparent;

}

#scriptEd{
    background-color: black;
    
}

@keyframes notRedected{
    from{background-color: black}
    to{background-color: transparent}
    
}